body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: #F8F8F8;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    max-width: 280px;
}

textarea {
    width: 800px;
    height: 300px;
    max-width: 1000px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.postContent {
    word-wrap: break-word;
    background-color: #DCE0E0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.postContentContainer {
}

.postName {
    text-align: center;
    background-color: #DCE0E0;
}

.postLanguage {
    background-color:#f4f4f4;
}

.postAuthorName {
    background-color: #f8f8f8;
}

.postCreationDate {
    background-color: #ffffff;
}

.postWorkingLife {
    background-color: #CBE6DF;
    padding-left: 20px;
    padding-top: 5px;
}

.userButton {
    background-color: #847E92;
    display: inline-block;
    padding: 10px;
    margin-left: 55px;
    margin-top: 10px;
}


.buttonText {
    text-decoration: none;
    color: #fff;
}

.buttonText:hover {
    text-decoration: none;
    color: #deb887
}

.smallInput {
    width: 40px;
}

.administrationConfiguration{
    margin-top: 20px;
}

div .configuration {
    margin-top: 10px;
    padding: 5px;
    display: inline-block;
    background-color: #EBEBEB;
    border: 2px solid #CCCECE;
    border-radius: 5px;
}

div .configurationContainer {
    width: 250px;
}

.submitButton {
    margin-top: 10px;
}

div.postContentContainer {
    background-color: #C598C3;
    border-radius: 10px;
}

.selectList {
    width: 80px;
    height: 30px;
    padding-left: 10px;
    background-color: #C8FAC4;
    border-radius: 5px;
}